@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .login-image-clip-path {
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
  }
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  @apply bg-gray-50;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.form-control .form-label {
  @apply block px-0.5 py-1 text-gray-600 text-sm;
}

.form-control .form-input {
  @apply block w-full p-3 text-sm bg-gray-50 outline-none border border-gray-200 rounded-lg focus:border-primary;
}

.form-control.error .form-label {
  @apply text-red-600;
}

.form-control.error .form-input {
  @apply border-red-600;
}

.form-btn {
  @apply flex justify-center items-center w-full py-3 text-white uppercase font-semibold bg-primary rounded-lg ring-primary ring-offset-2 hover:ring-2 focus:ring-2;
}

.form-errors-list {
  @apply block text-red-600 text-xs px-1 py-1;
}
