{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    <main class="min-h-screen lg:bg-white">
        
        {% if messages %}
            {% for message in messages %}
                <div x-data x-ref="toast" class="fixed z-20 top-0 left-0 w-full text-white bg-red-500">
                    <div class="container flex items-center justify-between px-6 py-4 mx-auto">
                        <div class="flex items-center">
                            <svg viewBox="0 0 40 40" class="w-6 h-6 fill-current">
                                <path d="M20 3.36667C10.8167 3.36667 3.3667 10.8167 3.3667 20C3.3667 29.1833 10.8167 36.6333 20 36.6333C29.1834 36.6333 36.6334 29.1833 36.6334 20C36.6334 10.8167 29.1834 3.36667 20 3.36667ZM19.1334 33.3333V22.9H13.3334L21.6667 6.66667V17.1H27.25L19.1334 33.3333Z">
                                </path>
                            </svg>
                
                            <p class="mx-3">{{ message }}</p>
                        </div>
                
                        <button @click="$refs.toast.remove()" class="p-1 transition-colors duration-300 transform rounded-md hover:bg-opacity-25 hover:bg-gray-800 focus:outline-none">
                            <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="fixed w-full lg:w-1/2 -z-10 lg:z-0 lg:login-image-clip-path">

            <picture>
                <img class="w-full h-screen object-cover object-center"
                    src="{% static '/images/image/pexels-cottonbro-studio-4937224.jpg' %}" alt="">
            </picture>

            <div class="absolute z-10 top-0 left-0 right-0 bottom-0 bg-black bg-opacity-40 backdrop-blur-sm lg:backdrop-blur-0"></div>
        </div>

        <div class="min-h-screen flex flex-col justify-center items-center py-10 lg:ml-[50%]">

            <div class="w-10/12 lg:w-full max-w-sm p-8 lg:p-0 bg-white lg:bg-transparent rounded-xl lg:rounded-none">

                <h1 class="text-primary text-center text-xl font-bold mb-2">Login</h1>
    
                <form action="{% url 'login' %}" method="post" x-data="{ loading: false }" @submit="loading=true">
                    {% csrf_token %}
    
                    <div class="form-control {% if 'username' in form.errors %} error {% endif %}">
                        <label class="form-label" for="username-input">Username</label>
    
                        <input class="form-input" id="username-input" name="username" type="text" placeholder="Enter your username..." value="{{ form.data.username }}" required />
                    </div>
    
                    <div class="form-control mt-4 {% if 'password1' in form.errors %} error {% endif %}">
                        <div class="flex justify-between items-center">
                            <label class="form-label" for="password-input">Password</label>
                            <a class="link block text-xs text-gray-500 hover:underline" href="/auth/forgot-password">Forgot your password?</a>
                        </div>
    
                        <input class="form-input" id="password-input" name="password" type="password" placeholder="Enter your password..." value="{{ form.data.password }}" required />
                    </div>
    
                    <button class="form-btn mt-4" type="submit">
                        <span x-show="loading" class="text-white">Please Wait...</span>
                        <span x-show="!loading">Submit</span>
                    </button>
                </form>
    
                <a class="block mx-auto mt-4 text-sm text-center text-gray-500 hover:underline" href="{% url 'signup' %}">Don't have an account? SignUp</a>
            </div>

        </div>

    </main>
{% endblock %}
